html {
    font-size: 16px;
    line-height:1.3;
}
body{
	color:white;
	background-color:grey;
	font-family:Arial, Helvetica, sans-serif;
}
#contentpage{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	min-height: 100%;
	background:#A97;
	display: block;
	font-weight:bold;
}
.box{
	width:35em;
	padding:.2em;
	background-color:#99FF99;
	margin:.3em;
	float:left;
}
.scrbox{
	width:32em;
	margin:auto;
	padding:.2em;	
}
.formbox{
	width:90%;
	margin-left: 1em;
	padding:.2em;	
	float:left;
}
.databox{
	width:8em;
	margin: 0;
	padding:0;	
	float:left;
}
.item {
	float:left;
	width:35em;
	margin:0.5em 0.3em;
	padding:0.2em;
	background-color:#99FF99;
}
#previewcontainer {
	position:relative;
	height:18em;
	overflow:hidden;
	background-color:black;
	text-align:center;
	display:block;	
	font-weight:normal;
}
#times {
	float:left;
	margin:0.5em 0.3em;
	padding:0.2em;
	width:35em;
	min-height:15em;
	background-color:#FFFF99;
}
.preview {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	font-size:1.6em;
	color:white;
	background-color:black;
	background-repeat:no-repeat;
	background-size:100% 100%;
	display:none;
}
#p1 { /*show instructions*/
	display:block;
}
.bg{
	background-image:"#";
	background-repeat:no-repeat;
	background-size:100% 100%;
	display:block;
	width:100%;
	height:100%;
}
.bl, .bc, .br { /* <div> containing picture */
	background-image:"#";
	background-repeat:no-repeat;
	background-size:50% 50%;
	-moz-background-size:50% 50%;
	display:block;
	width:100%;
	height:100%;
}
.bl {
	background-position: bottom left;
}
.bc {
	background-position: bottom center;
}
.br {
	background-position: bottom right;
}
.topimg {
	margin:auto;
	background-image:"#";
	background-repeat:no-repeat;
	background-size:100% 100%;
	display:block;
	width:75%;
	height:75%;
}
.bottxt {
	height:24%;
	display:block;
	width:100%;	
}
.div25, .leftimg, .rightimg {
	display:inline;
	width:25%;
	height:100%;	
	background-image:"#";
	background-repeat:no-repeat;
	background-size:100% 100%;
	-moz-background-size:100% 100%;
}
.leftimg {
	float:left;
}
.rightimg {
	float:right;
}
.div75, .lefttxt, .righttxt {
	display:inline;
	width:75%;
	height:100%;	
}
.lefttxt {
	float:left;
}
.righttxt {
	float:right;
}
.tdt{
	padding:0;
	border:thin black solid;
}
.thd {
	border:thin black solid;
	background-color:white;
}
#audioplayer{
	display:none;
	font-size:medium;	
}
#edtime {
	display:none;
	}