/* set standard font height 20 lines of text  4.3vh*/
html {
    font-family: Roboto, Helvetica, sans-serif;
	font-size: 4.0vh;
    line-height: 1.2;
	margin: 0; height: 100%; overflow: hidden;
}
body{
	color:white;
	background-color:black;
	font: 100% Roboto, sans-serif;
	margin: 0; height: 100%; overflow: hidden;
}
div {
	overflow:hidden;
	/* max-height:100%; */
	/* max-width:100%; */
	height: 100%;
	border: 0;
	margin: 0;
	padding: 0;
	display: flex;
	font-size: 1.0em;
/*	all divs are 100%
	width:100%;
	height:100%; */
}
#id-sd1, #id-sd2, #id-sd3, #id-sd4, #id-sd5, #id-sd6, #id-sd7, #id-sd8, #id-sd9 {
  min-width: 100%;
  min-height: 100%;
}
table {
    border-collapse: collapse;
}
table, th, td {
	border:medium black solid;
}
#home{ /* start out visible */
	background-image:url("splash1.jpg");
	background-size:100% 100%;
	background-repeat: no-repeat;
	display:block;
}
#noshow {
	display:none;
}
#previewtable{
	background-color:navy;
	display:none;
}
#titlescr, #setupscr {
	display:none;
}
#setupscr {
	color: white;
	background-color:navy;		
}
#controls {
	position:absolute;
	font: 100% Roboto, sans-serif;
	top:80%;
	width:100%;
	text-align:center;
	display:block;
}
#view {
	vertical-align:middle;
	display:none;
}
nav {
	height: 90vh;
    float: left;
    width: 45%;
    margin: 0;
    padding: 1em;
}
#navtop {
	width:100%;
	height:80%;
    overflow: hidden;	
}
#navbot {
    position: fixed;
    bottom: 0;
	width:25%;
	height:20%;
	opacity:0;
    overflow: hidden;	
}
article {
	height: 90vh;
    margin-left: 50%;
    padding: 1em;
    overflow: hidden;
}
#arttop {
	width:100%;
	height:67%;
    overflow: hidden;	
}
#artbot {
	position:absolute;
	bottom: 0;
	width:100%;
	height:30%;
    overflow: hidden;	
}
#view p {
	display: inline-block;
}

#blank { /* no image on this screen */
	display:none;
	color:black;
	background-color:black;
}
.middle {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
#setlist{
	display:none;
	background-color:#007;
}
#fileselect{
	width:45%;
	float:left;
	display:inline;
}
#scrolltable {
	max-width:53%;
	width:53%;
	max-height:100%;
	cursor: pointer;
	overflow-y:scroll;
}
#settable{
	width:100%;
}
#settable  td{
	font-size: 0.8em;
	padding: 0;
	text-align: center;
	background: linear-gradient( #24A 0%,#48A 50%,#24A 100%);
}
#prevtable{	
	table-layout:fixed;
	height:93%;
	width:93%;
	border: thin gray solid;
	background-color:black;
	margin:auto;
}
#prevtable tr{	
  width: 100%;
}
#prevtable td{
	/* preview td
	width:33vw;
	height:30vh;
	
	*/
	height:33%;
	width:33%;
	border: thin gray solid;
	padding: 0;
	margin: 0;
	cursor: pointer;
	overflow:hidden;
}
#prevtable p{
	display:inline-block;	
}
.previewlast{
	display:inline-block;
	padding:0.5% 0 0 20%;
	text-align:center;
}
#audioplayer{
	display:none;
	font-size:medium;	
}
#vgrid{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	display:block;
}
/* the following found viewtimings.htm */
.times {
	width:100%;
	background-color:gray;
}
#timings{
	display:inline;
	float:left;
	width:72%;
	height:10%;
	background-color:green;
	color:yellow;
	font-size:1em;
	padding-left:2%;
	padding-right:2%;
	overflow:scroll;
}
#tB{
	display:inline;
	width:10%;
	height:10%;
	background-color:#FFFF99;
	color:black;
	text-align:center;
	font-size:1em;
	padding-left:2%;
	padding-right:2%;
}
#tS{
	display:inline;
	width:10%;
	height:10%;
	background-color:#FFFF99;
	color:black;
	text-align:center;
	font-size:1em;
	padding-left:2%;
	padding-right:2%;
}
#gosongp {
    position: fixed;
    bottom: 0;
    width: 40%;
}
#lblgosong {
    width:25vw;
    height:20vh;
}
.button {
    background-color: black;
	opacity: 0.5;
    border: none;
    color: grey;
    padding: 0 10px 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	border-radius: 4px;
    cursor: pointer;
}
.setlist {
	width:100%;
}

.runbtn {
	width: 0;
	height: 0;
    display: inline-block;
	vertical-align:middle;
	margin-left:5px;
	margin-right:5px;
	border-top: 20px solid transparent;
	border-left: 40px solid #359;
	border-bottom: 20px solid transparent;
}
/* File Choosing */

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputfile + label {
    font-size: 0.8em;
    font-weight: 500;
    color: grey;
	padding: 0 10px;
    background-color:  #359;
    display: inline-block;
}
.inputfile:focus + label,
.inputfile + label:hover {
    background-color:  #559;
}
.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}
.inputfile:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}
.thumb {
	width: 50vw;
	height: 50vh;
}
/* OVERLAY CONTROLS */
.ol_controls {
	z-index:100;
	position: fixed;
	top: 0;
	left:0;
	width:100vw;
	height:100vh;
}
.ol_top {
	position: fixed;
	top: 0;
	left:25vw;
	height:20vh;
	width:50vw;
}
.ol_left {
	position: fixed;
	top: 22vh;
	left:0;
	height:55vh;
	width:30vw;	
}
.ol_middle {
	position: fixed;
	top: 25vh;
	left:35vw;
	height:40vh;
	width:30vw;	
}
.ol_right {
	position: fixed;
	top: 22vh;
	right: 0;
	height:55vh;
	width:30vw;
}
.ol_bot {
	position: fixed;
	bottom: 0;
	left:25vw;
	height:18vh;
	width:50vw;
}
				
/* FONT STYLING */
.fontXnormal { 
	font-family: Roboto, Helvetica, sans-serif; 
	/* color: white; GET FROM outer element */
}
.fontXnarrow { 
	font-family: "Roboto Condensed", "Arial Narrow", sans-serif; 
	/* color: white; GET FROM outer element */
}
.fontserif {
	font-family: "Droid Serif", Georgia, Times, serif;
}
.fontblack {
	font-family: "Roboto Black", Charcoal, sans-serif;
}
.fontslab {
	font-family: "Roboto Slab", Impact, sans-serif;
}
h1, h2, h3 {
	display: inline-block;
	font-family: "Droid Serif", Georgia, Times, serif;
	margin:0;
	padding: 0.3em 0 0.2em 0;
}
h1 {
	font-size: 1.2em;
	line-height: 1.2em;
}
h2 {
	font-size: 1.0em;
	line-height: 1.2em;
}
h3 {
	font-family: "Droid Serif", Georgia, Times, serif;
	font-size: 1.0em;
	line-height: 1.2em;
	font-style: normal;
	font-weight: normal;
}
p {
	margin:0;
	padding:0;
	display:block;
}
dl {
	-webkit-margin-before: 0.5em;
	-webkit-margin-after: 0.5em;
}

var {
	font-family: "Droid Serif", Georgia, Times, serif;
	font-size: 1.0em;
	font-style: normal;
	line-height: normal;
}
small {
	font-size: 0.8em;
	line-height: normal;
	padding: 0;
}
cite {
  	font-family: "Droid Serif";
  	font-size: 1.0em;
	font-style: normal;
	display: inline-block;
}
em {
  	font-size: 1.0em;
	font-style:italic;
  	font-weight: bold;
}
strong {
	font-family: "Roboto Slab", Impact, sans-serif;
	font-size: 1.0em;
	font-style:normal;
	line-height: normal;
}
mark {
	font-size: 1.0em;
	color: white;
	background-color: #08A;
	line-height: normal;
}
.inline {
  display: inline-block;
}
.block {
  display: block;
}
.floatleft {
  float: left;
  display: block;
}
.floatright {
  float: right;
}
.blank {
  border: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  background-image: url("");
}

/* P CLASSES*/
.txtcenter {
text-align: center;
    margin: 0 3% 0 3%;
}
.txtleft {
  text-align: left;
  margin: 0 2% 0 4%;
}
.txtright {
  text-align: right;
  margin: 0 4% 0 2%;
}
.txttop {
  margin: 2% 3% 0 3%;
}
.notext {
  visibility: hidden;
}
.midleft {
  align-items: center;
  justify-content: flex-start;
}
.midcenter {
  align-items: center;
  justify-content: center;
}
.midright {
  align-items: center;
  justify-content: flex-end;
}
.topleft {
  align-items: flex-start;
  justify-content: flex-start;
}
.topcenter {
  align-items: flex-start;
  justify-content: center;
}
.topright {
  align-items: flex-start;
  justify-content: flex-end;
}
.botleft {
  align-items: flex-end;
  justify-content: flex-start;
}
.botcenter {
  align-items: flex-end;
  justify-content: center;
}
.botright {
  align-items: flex-end;
  justify-content: flex-end;
}
/* color in P */
.txtwhite {
  color: white;
}
.txtblack {
  color: black;
}
.txtcornsilk {
  color: cornsilk;
}
.txtlime {
  color: lime;
}
/* bgcolor in DIV */
.bgimage { /* DIV CLASS*/
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.bgtile { /* DIV CLASS*/
  background-repeat: repeat;
}
.bg0 {
  background-image: url("");
}
.bg1 {
  background-image: url("bg1.jpg");
  background-size: 100% 100%;
}
.bg2 {
  background-image: url("bg2.jpg");
  background-size: 100% 100%;
}
.bg3 {
  background-image: url("bg3.jpg");
  background-size: 100% 100%;
}
.bg4 {
  background-image: url("bg4.jpg");
  background-size: 100% 100%;
}

.bgfabric {
  background-image: url("fabric2.jpg");
  background-repeat: repeat;
}
.bgpaper {
  background-image: url("paper1.jpg");
  background-repeat: repeat;
}
.bgblack {
  background-color: black;
}
.bgwhite {
  background-color: white;
}
/* bgcolor in DIV */
.bgcornsilk {
    background-color: cornsilk;
}
.bgmaroon {
    background-color: maroon;
}
.bgnavy {
    background-color: navy;
}
.bgteal {
    background-color: teal;
}
.bgtan {
    background-color: tan;
}
.txt75pc {
  width: 75%;
}
.txt66pc {
  width: 66%;
}
.txt50pc {
  width: 50%;
}
/* colorincolor in P */
.txtwhiteinblack {
  color: white;
  text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black, 2px 2px 0 black;
}
.txtwhiteinnavy {
  color: white;
  text-shadow: -2px -2px 0 navy, 2px -2px 0 navy, -2px 2px 0 navy, 2px 2px 0 navy; 
}
.txtblackinwhite {
  color: black;
  text-shadow: -2px -2px 0 white, 2px -2px 0 white, -2px 2px 0 white, 2px 2px 0 white; 
}
.txtblackincornsilk {
  color: black;
  text-shadow: -2px -2px 0 cornsilk, 2px -2px 0 cornsilk, -2px 2px 0 cornsilk, 2px 2px 0 cornsilk; 
}
.txtcornsilkinblack {
  color: cornsilk;
  text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black, 2px 2px 0 black; 
}
.txtgreeninblack {
  color: #0f0;
  text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black, 2px 2px 0 black; 
}
.txtblackingreen {
  color: black;
  text-shadow: -2px -2px 0 #0f0, 2px -2px 0 #0f0, -2px 2px 0 #0f0, 2px 2px 0 #0f0; 
}
.txtnavyinwhite {
  color: navy;
  text-shadow: -2px -2px 0 white, 2px -2px 0 white, -2px 2px 0 white, 2px 2px 0 white; 
}
